<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Создание подключения</title>
</head>
<body>
    {% if success %}
        <p style="color: green;">Form submitted successfully!</p>
    {% endif %}
    {% if errors %}
        <ul style="color: red;">
            {% for error in errors %}
                <li>{{ error }} is required.</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{{ url_for('form') }}">
        <label for="host">Host:</label>
        <input type="text" id="host" name="host"><br><br>

        <label for="user">User:</label>
        <input type="text" id="user" name="user"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="db_name">Database Name:</label>
        <input type="text" id="db_name" name="db_name"><br><br>

        <label for="log_folder_path">Log Folder Path:</label>
        <input type="text" id="log_folder_path" name="log_folder_path"><br><br>

        <label for="error_log_file_name">Error_log_file_name:</label>
        <input type="text" id="error_log_file_name" name="error_log_file_name"><br><br>

        <input type="submit" value="Next">
    </form>
</body>
</html>